# App Setup
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Neon Serverless Postgres Database (Drizzle ORM)
DATABASE_URL=postgresql://neondb_owner:npg_QkLCuf89UFtP@ep-jolly-leaf-axvvxgfg-pooler.c-4.us-east-2.aws.neon.tech/Ai%20work%20flow?sslmode=require&channel_binding=require

# Clerk Authentication (SaaS Hosted Auth)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bWFqb3ItYmlyZC04NDI5LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_tg8FaXw5WeTO3r400RFrAlOSuE3toJbgQv5P5qyvzO
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
